$dark-bg: #080808;

body{background:$dark-bg; position: relative; width:100%; min-height:100vh; }
*{box-sizing: border-box; margin:0; padding:0;}
.box{border:1px solid #fff; width:300px; height:300px; padding:20px;
    a{
        width:100px; height:100px; background:#fff; display:block; margin:0 auto;
        p{
            font-size:30px; text-align: center; color:greenyellow; vertical-align: middle;
        }
    }
}

#logo{
    position: fixed; left:0; right:0; top:40%; margin:0 auto; width:76px; height:26px; background:url('../img/logo.png') no-repeat center;z-index: 10;
}




